*.o
.*
*~
*.tmp
*.s
*.pyc

# tex stuff
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc

barrier

/implementations/distributed/distributed
/implementations/remember-others-and-add-fetch/add-fetch
/implementations/remember-others-and-add-fetch/ronny
/implementations/remember-others-and-add-fetch-rapl/rapl-benchmark

/misc/measure-sleeping/measure-sleeping
/misc/mpi-barrier-test/mpi-barrier-test

/report/report.pdf


model*.pdf

*plot*.pdf
