*.o
.*
*~
*.tmp
*.s

/report/*.out
/report/*.aux
/report/*.log
/report/*.pdf
/report/*.bbl
/report/*.blg
/report/*.dvi

/barrier-attempt/benchmark/pthreads
/barrier-attempt/benchmark/openmp
/barrier-attempt/benchmark/ronny
